<div class="jumbotron">
    <h1>Sample Pdf Demo</h1>
    <p><a href="@Url.Action("UploadFile","Home")" class="btn btn-primary btn-lg">Add File</a></p>
    <table id="records_table">
        <tr>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>File Name</th>
        </tr>
    </table>
</div>
<script src="~/Scripts/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "https://localhost:44352/api/pdf/GetUserFileList",
            dataType: "json",
            success: function (response) {
                debugger
                // convert string to JSON
                if (response != '') {
                    
                    $(function () {
                        $.each(response, function (i, item) {
                            var $tr = $('<tr>').append(
                                $('<td>').text(item.UserName),
                                $('<td>').text(item.FirstName),
                                $('<td>').text(item.LastName),
                                $('<td>').text(item.FileName),
                            );
                            $tr.appendTo('#records_table');
                        });
                    });
                }
                else {
                    $('#records_table').text('No Record Found');
                }
            }
        });
    });
</script>